<td><%= sleep.id %></td>
<td><%= sleep.clock_in %></td>
<td><%= sleep.clock_out %></td>
<td><%= distance_of_time_in_words(sleep.clock_in, sleep.clock_out) %></td>
<td><%= sleep.created_at %></td>
<td><%= sleep.updated_at %></td>

