<h1>User Detail</h1>

<div id="users">
  <table border="1">
  <th>ID</th>
  <th>Name</th>
  <th>Created At</th>
  <th>Updated At</th>
  <tr id="<%= dom_id @user %>">
    <%= render @user %>
  <tr>
  </table>  
</div>

<h1>Clock In/Clock Out Records</h1>
<div id="sleeps">
  <table border="1">
  <th>ID</th>
  <th>Clock In</th>
  <th>Clock Out</th>
  <th>Created At</th>
  <th>Updated At</th>
  <% @user.sleeps.each do |sleep| %>
    <tr id="<%= dom_id sleep %>">
      <%= render "users/sleep", sleep: sleep %>
    </tr>
  <% end %>
  </table>  
</div>

<h1>Sleep Duration Records</h1>
<div id="sleeps">
  <table border="1">
  <th>ID</th>
  <th>Sleep Duration</th>
  <% @user.sleep_durations.each do |sleep| %>
    <tr id="<%= dom_id sleep %>">
      <%= render "users/sleep_duration", sleep: sleep %>
    </tr>
  <% end %>
  </table>  
</div>

<h1>Followers</h1>
<div id="followers">
  <table border="1">
  <th>ID</th>
  <th>Followers</th>
  <th>Created At</th>
  <th>Updated At</th>
  <th>Actions</th>
  <% @user.followers.each do |follower| %>
    <tr id="<%= dom_id follower %>">
      <%= render follower.follower %>
      <td><%= link_to "Show", user_path(follower.follower) %></td>
    </tr>
  <% end %>
  </table>  
</div>

<h1>Followees</h1>
<div id="followees">
  <table border="1">
  <th>ID</th>
  <th>Followees</th>
  <th>Created At</th>
  <th>Updated At</th>
  <th>Actions</th>
  <% @user.followees.each do |followee| %>
    <tr id="<%= dom_id followee %>">
      <%= render followee.followee %>
      <td><%= link_to "Show", user_path(followee.followee) %></td>
    </tr>
  <% end %>
  </table>  
</div>


<div>
  <%= link_to "Back to users", users_path %>
</div>
