<%= form_with(model: sleep) do |form| %>
  <% if sleep.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(sleep.errors.count, "error") %> prohibited this sleep from being saved:</h2>

      <ul>
        <% sleep.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.text_field :user_id %>
  </div>

  <div>
    <%= form.label :clock_in, style: "display: block" %>
    <%= form.datetime_field :clock_in %>
  </div>

  <div>
    <%= form.label :clock_out, style: "display: block" %>
    <%= form.datetime_field :clock_out %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
